@import "tailwindcss";

@theme {
  /* Daftarkan warna moody kamu di sini (Cara baru v4) */
  --color-dark: #020617;
  --color-card: #0f172a;
  --color-accent: #6366f1;
}

body {
  /* Sekarang Tailwind sudah kenal 'dark' */
  @apply bg-dark text-slate-100 antialiased;
  font-family: 'Inter', sans-serif;
}
/* Custom Scrollbar - Minimalist Dark */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #312e81;
}

/* Hide arrow for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}